@using System.Reflection
@typeparam T

@if(Model!=null)
{
    <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @foreach (PropertyInfo property in typeof(T).GetProperties())
        {
            <div>
                <label>@property.Name:</label>
               @{
                    Type propertyType = property.PropertyType;
                    Type underlyingType = Nullable.GetUnderlyingType(propertyType) ?? propertyType;


                    if (underlyingType == typeof(string))
                    {
                        <input id="@property.Name" @oninput='(e) => HandleInputChange(e, property.Name)' class="form-control" />
                    }
                    else if (underlyingType == typeof(int))
                    {
                        <input id="@property.Name" type="number" step="1" @oninput='(e) => HandleInputChange(e, property.Name)' class="form-control" />
                    }
                }
            </div>
        }

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

}
@code {
    [Parameter] public T? Model { get; set; }
    [Parameter] public EventCallback<T> OnValidSubmit { get; set; }


    private void HandleInputChange(ChangeEventArgs e,string propertyName)
    {
        PropertyInfo? property = typeof(T).GetProperty(propertyName);

        if (property!=null && e.Value!=null)
        {
            Type propertyType = property.PropertyType;
            Type underlyingType = Nullable.GetUnderlyingType(propertyType) ?? propertyType;
            if (underlyingType == typeof(string))
            {
                property.SetValue(Model, e.Value);

            }
            else if (underlyingType == typeof(int))
            {
                property.SetValue(Model, int.Parse(e.Value.ToString()!));

            }
            else if (underlyingType == typeof(double))
            {
                property.SetValue(Model, (double)e.Value);

            }
            else if (underlyingType == typeof(DateTime))
            {
                property.SetValue(Model, (DateTime)e.Value);

            }
            else if (underlyingType == typeof(bool))
            {
                property.SetValue(Model, (bool)e.Value);
            }

        }
    }

    private async Task HandleValidSubmit()
    {
        if (OnValidSubmit.HasDelegate)
        {
            await OnValidSubmit.InvokeAsync(Model);
        }
    }
}
