@using MinecraftHypixel.Models
@using System.Reflection
@{
    var _showClass = IsVisible ? "d-grid" : "d-none";
}

<div class="popup bal @_showClass" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Item Edit</strong>
            <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
        </div>

        <div class="toast-body">
            <EditForm Model="_item" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                @foreach (PropertyInfo item in _item.GetType().GetProperties())
                {
                    <div class="form-group">
                        <label for="@item.Name">@item.Name:</label>
                        <InputText id="@item.Name" class="form-control" @bind-Value="_item.Name" />
                    </div>

                }
                    <div class="form-group">
                    <label for="name">Name:</label>
                    <InputText id="name" class="form-control" @bind-Value="_item.Name" />
                </div>

                <div class="form-group">
                    <label for="email">Id:</label>
                    <InputText id="Id" class="form-control" @bind-Value="_item.Id" />
                    <ValidationMessage For="@(() => _item.Id)" />

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </EditForm>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    private Item _item = new Item();

    public void Show()
    {
        IsVisible = true;
        var test=_item.GetType().GetProperties();
        StateHasChanged();
    }

    private void Close()
    {
        IsVisible = false;
        StateHasChanged();
    }
    private void HandleValidSubmit()
    {
        Console.WriteLine("User registered!");
        // Logic to handle form submission
    }

}