@page "/items"
@rendermode InteractiveServer
@using MinecraftHypixel.Controllers
@using MinecraftHypixel.Models
@using MinecraftHypixel.Components.Pages

@inject ItemController _controller

@using MinecraftHypixel.Components.Pages

<h3>Index</h3>

<button @onclick="ShowItemEdit">Edit Item</button>
<button class="btn btn-primary" @onclick="Test">List</button>

@if (ItemsList != null)
{
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="table-dark">
        <th>Id</th>
        <th>Material</th>
        <th>Color</th>
        <th>Name</th>
        <th>Category</th>
        <th>Tier</th>
        </thead>
        <tbody>
            @foreach (Item item in ItemsList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Material</td>
                    <td>@item.Color</td>
                    <td>@item.Name</td>
                    <td>@item.Category</td>
                    <td>@item.Tier</td>
                </tr>
            }
        </tbody>
    </table>
}
<ItemEdit @ref="_itemEditRef" />


@code {
    private ItemEdit _itemEditRef = new ItemEdit();
    IEnumerable<Item>? ItemsList;
    private async Task Test()
    {
        ItemsList = await _controller.GetItems();
    }

    private void ShowItemEdit()
    {
        _itemEditRef.Show();
    }
}
